wp-content/uploads/*
wp-config.php
wp-content/updraft/*


\.idea/

wp-content/themes/setsail/assets/css/style_dynamic.css
wp-content/themes/setsail/assets/css/style_dynamic_responsive.css

\.htaccess
