/* ==========================================================================
   Side area styles - begin
   ========================================================================== */
/* ==========================================================================
# Side area style - begin
========================================================================== */
.qodef-light-header .qodef-page-header > div:not(.qodef-sticky-header):not(.fixed) .qodef-side-menu-button-opener,
.qodef-light-header .qodef-top-bar .qodef-side-menu-button-opener {
  color: #fff !important;
}

.qodef-light-header .qodef-page-header > div:not(.qodef-sticky-header):not(.fixed) .qodef-side-menu-button-opener.opened, .qodef-light-header .qodef-page-header > div:not(.qodef-sticky-header):not(.fixed) .qodef-side-menu-button-opener:hover,
.qodef-light-header .qodef-top-bar .qodef-side-menu-button-opener.opened,
.qodef-light-header .qodef-top-bar .qodef-side-menu-button-opener:hover {
  color: #3fd0d4 !important;
}

.qodef-dark-header .qodef-page-header > div:not(.qodef-sticky-header):not(.fixed) .qodef-side-menu-button-opener,
.qodef-dark-header .qodef-top-bar .qodef-side-menu-button-opener {
  color: #212121 !important;
}

.qodef-dark-header .qodef-page-header > div:not(.qodef-sticky-header):not(.fixed) .qodef-side-menu-button-opener.opened, .qodef-dark-header .qodef-page-header > div:not(.qodef-sticky-header):not(.fixed) .qodef-side-menu-button-opener:hover,
.qodef-dark-header .qodef-top-bar .qodef-side-menu-button-opener.opened,
.qodef-dark-header .qodef-top-bar .qodef-side-menu-button-opener:hover {
  color: #3fd0d4 !important;
}

.qodef-side-menu-button-opener {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.qodef-side-menu-button-opener .qodef-side-menu-title {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 8px 0 0;
  color: currentColor;
}

.qodef-side-menu-button-opener .qodef-side-menu-icon {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.qodef-side-menu-button-opener.opened, .qodef-side-menu-button-opener:hover {
  color: #3fd0d4;
}

.qodef-side-menu-button-opener.qodef-side-menu-button-opener-icon-pack .qodef-side-menu-icon {
  font-size: 20px;
}

.qodef-side-menu-button-opener.qodef-side-menu-button-opener-icon-pack .qodef-side-menu-icon * {
  display: block;
  line-height: inherit;
}

.qodef-side-menu-button-opener.qodef-side-menu-button-opener-icon-pack .qodef-side-menu-icon *:before {
  display: block;
  line-height: inherit;
}

.qodef-side-menu-button-opener.qodef-side-menu-button-opener-svg-path .qodef-side-menu-icon svg {
  height: 28px;
  width: 20px;
}

.qodef-side-menu-button-opener.qodef-side-menu-button-opener-svg-path .qodef-side-menu-icon > * {
  vertical-align: middle;
}

.qodef-side-menu-button-opener.qodef-side-menu-button-opener-svg-path .qodef-side-menu-icon > *,
.qodef-side-menu-button-opener.qodef-side-menu-button-opener-svg-path .qodef-side-menu-icon path {
  fill: currentColor;
}

.qodef-side-menu-button-opener.qodef-side-menu-button-opener-predefined {
  line-height: 1;
}

.qodef-side-menu-button-opener.qodef-side-menu-button-opener-predefined .qodef-hm-lines {
  position: relative;
  display: block;
  width: 23px;
  height: 17px;
}

.qodef-side-menu-button-opener.qodef-side-menu-button-opener-predefined .qodef-hm-lines .qodef-hm-line {
  position: absolute;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: currentColor;
  border-radius: 12px;
  -webkit-transition: width 0.3s ease;
  -moz-transition: width 0.3s ease;
  transition: width 0.3s ease;
}

.qodef-side-menu-button-opener.qodef-side-menu-button-opener-predefined .qodef-hm-lines .qodef-hm-line.qodef-line-1 {
  top: 0;
}

.qodef-side-menu-button-opener.qodef-side-menu-button-opener-predefined .qodef-hm-lines .qodef-hm-line.qodef-line-2 {
  top: 7px;
}

.qodef-side-menu-button-opener.qodef-side-menu-button-opener-predefined .qodef-hm-lines .qodef-hm-line.qodef-line-3 {
  bottom: 0;
}

.qodef-side-menu {
  position: fixed;
  top: 0;
  right: -458px;
  width: 458px;
  height: 100%;
  min-height: 100%;
  padding: 100px 50px 40px;
  background-color: #fff;
  text-align: center;
  overflow: hidden;
  visibility: hidden;
  z-index: 9999;
  -webkit-backface-visibility: hidden;
  box-sizing: border-box;
  box-shadow: 5px 8px 13.92px 2.08px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
}

.qodef-side-menu a.qodef-close-side-menu {
  position: absolute;
  top: 25px;
  right: 40px;
  display: block;
  z-index: 1000;
}

.admin-bar .qodef-side-menu a.qodef-close-side-menu {
  top: 57px;
}

.qodef-side-menu a.qodef-close-side-menu.qodef-close-side-menu-icon-pack {
  font-size: 20px;
}

.qodef-side-menu a.qodef-close-side-menu.qodef-close-side-menu-icon-pack * {
  display: block;
  line-height: inherit;
}

.qodef-side-menu a.qodef-close-side-menu.qodef-close-side-menu-icon-pack *:before {
  display: block;
  line-height: inherit;
}

.qodef-side-menu a.qodef-close-side-menu.qodef-close-side-menu-svg-path {
  line-height: 1;
}

.qodef-side-menu a.qodef-close-side-menu.qodef-close-side-menu-svg-path svg {
  height: 16px;
  margin-right: -20px;
}

.qodef-side-menu a.qodef-close-side-menu.qodef-close-side-menu-svg-path svg line {
  stroke-width: 1.7px;
}

.qodef-side-menu a.qodef-close-side-menu.qodef-close-side-menu-svg-path > * {
  vertical-align: middle;
}

.qodef-side-menu a.qodef-close-side-menu.qodef-close-side-menu-svg-path > *,
.qodef-side-menu a.qodef-close-side-menu.qodef-close-side-menu-svg-path path {
  fill: currentColor;
  stroke: currentColor;
}

/* ==========================================================================
# Side area style - end
========================================================================== */
/* ==========================================================================
# Side area slides over content style - begin
========================================================================== */
.qodef-right-side-menu-opened .qodef-wrapper,
.qodef-right-side-menu-opened footer.qodef-footer-uncover,
.qodef-right-side-menu-opened .qodef-fixed-wrapper.fixed,
.qodef-right-side-menu-opened .qodef-sticky-header,
.qodef-right-side-menu-opened .mobile-header-appear .qodef-mobile-header-inner {
  left: 0;
}

.qodef-side-menu-slide-from-right .qodef-wrapper {
  background-color: #fff;
  position: relative;
  z-index: 1000;
  -webkit-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
}

.qodef-side-menu-slide-from-right .qodef-wrapper .qodef-cover {
  z-index: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 0;
  background-color: transparent;
  -webkit-transition: opacity 0.2s ease-in-out, z-index 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out, z-index 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out, z-index 0.2s ease-in-out;
}

.qodef-side-menu-slide-from-right .qodef-sticky-header,
.qodef-side-menu-slide-from-right .qodef-fixed-wrapper.fixed {
  -webkit-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
}

.qodef-side-menu-slide-from-right footer.qodef-footer-uncover {
  -webkit-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
}

.qodef-side-menu-slide-from-right.qodef-right-side-menu-opened .qodef-cover {
  z-index: 1002;
  opacity: 1;
}

.qodef-side-menu-slide-from-right.qodef-right-side-menu-opened .qodef-side-menu {
  right: 0;
  visibility: visible;
}

/* ==========================================================================
# Side area slides over content style - end
========================================================================== */
/* ==========================================================================
# Side area responsive style - begin
========================================================================== */
@media only screen and (max-width: 1366px) {
  .qodef-side-menu-slide-from-right .qodef-side-menu {
    padding: 50px 50px 70px;
  }
}

@media only screen and (max-width: 1280px) {
  .qodef-side-menu-slide-from-right .qodef-side-menu {
    padding: 80px 40px 40px;
  }
}

/* ==========================================================================
# Side area style - end
========================================================================== */
/* ==========================================================================
   Side area styles - end
   ========================================================================== */

/*# sourceMappingURL=sidearea-map.css.map */
