@charset "UTF-8";
/* ==========================================================================
   #Blocks styles - start
   ========================================================================== */
.editor-block-list__layout .editor-default-block-appender > .editor-default-block-appender__content,
.editor-block-list__layout > .editor-block-list__block > .editor-block-list__block-edit,
.editor-block-list__layout > .editor-block-list__layout > .editor-block-list__block > .editor-block-list__block-edit {
  margin-top: 0;
  margin-bottom: 0;
}

@media (min-width: 600px) {
  .editor-block-list__layout .editor-block-list__block[data-align=full] {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 600px) {
  .editor-block-list__layout .editor-block-list__block[data-align=full] > .editor-block-list__block-edit {
    margin-left: -28px;
    margin-right: -28px;
  }
}

.block-editor .wp-block {
  max-width: 1300px;
}

.block-editor .editor-styles-wrapper,
.block-editor .editor-styles-wrapper {
  font-family: "Poppins", sans-serif !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  line-height: 25px !important;
  color: #828282 !important;
  background-color: #fff !important;
  overflow-x: hidden !important;
  -webkit-font-smoothing: antialiased !important;
}

.block-editor .editor-styles-wrapper .mce-content-body,
.block-editor .editor-styles-wrapper .mce-content-body {
  line-height: inherit;
}

.block-editor .editor-styles-wrapper p,
.block-editor .editor-styles-wrapper p {
  font-size: 14px !important;
  margin: 10px 0;
}

.block-editor .edit-post-visual-editor p.wp-block-subhead {
  font-size: 1.1em !important;
  font-style: italic;
  opacity: .75;
}

.block-editor p.has-background {
  padding: 20px 30px;
}

.block-editor .editor-post-title__block .editor-post-title__input {
  margin: 20px 0;
  color: #212121;
  font-family: "Poppins", sans-serif;
  font-size: 38px;
  line-height: 1.237em;
  font-weight: 500;
  padding: 0;
  margin: 20px 14px;
}

.block-editor .editor-post-title__block .editor-post-title__input a {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
}

.block-editor .editor-post-title__block .editor-post-title__input a:hover {
  color: #1a0af7;
}

.block-editor .editor-rich-text__tinymce a {
  color: #212121;
  text-decoration: none;
}

.block-editor .editor-rich-text__tinymce a:hover {
  color: #1a0af7;
}

.block-editor .wp-block-heading h1.editor-rich-text__tinymce {
  font-size: 61px;
  line-height: 1.164em;
  font-weight: 500;
}

.block-editor .wp-block-heading h2.editor-rich-text__tinymce {
  font-size: 38px;
  line-height: 1.237em;
  font-weight: 500;
}

.block-editor .wp-block-heading h3.editor-rich-text__tinymce {
  font-size: 28px;
  line-height: 1.321em;
  font-weight: 500;
}

.block-editor .wp-block-heading h4.editor-rich-text__tinymce {
  font-size: 23px;
  line-height: 1.391em;
  font-weight: 500;
}

.block-editor .wp-block-heading h5.editor-rich-text__tinymce {
  font-size: 17px;
  line-height: 1.647em;
  font-weight: 500;
}

.block-editor .wp-block-heading h6.editor-rich-text__tinymce {
  font-size: 16px;
  line-height: 1.688em;
  font-weight: 400;
}

.block-editor .wp-block-heading h1, .block-editor .wp-block-heading h2, .block-editor .wp-block-heading h3, .block-editor .wp-block-heading h4, .block-editor .wp-block-heading h5, .block-editor .wp-block-heading h6 {
  margin: 20px 0;
  color: #212121;
  font-family: "Poppins", sans-serif;
}

.block-editor .wp-block-heading h1 a, .block-editor .wp-block-heading h2 a, .block-editor .wp-block-heading h3 a, .block-editor .wp-block-heading h4 a, .block-editor .wp-block-heading h5 a, .block-editor .wp-block-heading h6 a {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
}

.block-editor .wp-block-heading h1 a:hover, .block-editor .wp-block-heading h2 a:hover, .block-editor .wp-block-heading h3 a:hover, .block-editor .wp-block-heading h4 a:hover, .block-editor .wp-block-heading h5 a:hover, .block-editor .wp-block-heading h6 a:hover {
  color: #1a0af7;
}

.block-editor .wp-block-code, .block-editor .wp-block-preformatted {
  padding: 0;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.block-editor .wp-block-code pre, .block-editor .wp-block-preformatted pre {
  font-family: monospace;
  color: #828282;
  display: block;
  border: 0;
  border-radius: 0;
  padding: 15px;
  margin: 15px 0;
}

.block-editor .wp-block-code {
  border-radius: 0;
  padding: 15px;
  margin: 15px 0;
  border: 0;
}

.block-editor .wp-block-code .editor-plain-text {
  font-family: monospace;
  font-size: 16px;
  color: #828282;
}

.block-editor ul li {
  margin: 0;
}

.block-editor .block-library-list .editor-rich-text__tinymce {
  margin: 15px 0;
  padding: 0;
}

.block-editor .block-library-list .editor-rich-text__tinymce ol, .block-editor .block-library-list .editor-rich-text__tinymce ul {
  margin: 0;
}

.block-editor .editor-styles-wrapper ol, .block-editor .editor-styles-wrapper ul {
  list-style-position: inside;
  margin-bottom: 0;
}

.block-editor .wp-block-audio {
  width: 100%;
}

.block-editor .wp-block-audio audio {
  width: auto;
}

.block-editor .wp-block-audio.alignleft audio,
.block-editor .wp-block-audio.alignright audio {
  max-width: 50%;
}

.block-editor .wp-block-audio.aligncenter audio {
  display: block;
  margin: 0 auto;
}

.block-editor .wp-block-video video {
  width: 100%;
}

.block-editor .wp-block-button .wp-block-button__link {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: auto;
  margin: 0;
  font-family: inherit;
  font-size: 15px;
  line-height: 1.5em;
  letter-spacing: 0;
  font-weight: 600;
  text-transform: lowercase;
  outline: none;
  box-sizing: border-box;
  -webkit-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  padding: 13px 50px;
  color: #fff;
  background-color: #1a0af7;
  border: 2px solid transparent;
  cursor: pointer;
}

.block-editor .wp-block-button .wp-block-button__link:hover {
  color: #fff;
  background-color: #1a0af7;
}

.block-editor .wp-block-button.is-style-outline .wp-block-button__link {
  color: #1a0af7;
  background-color: transparent;
  border: 2px solid #1a0af7;
}

.block-editor .wp-block-button.is-style-outline .wp-block-button__link:hover {
  color: #fff;
  background-color: #1a0af7;
  border-color: #1a0af7;
}

.block-editor ul.wp-block-archives {
  padding-left: 0;
}

.block-editor .wp-block-archives,
.block-editor .wp-block-categories,
.block-editor .wp-block-latest-posts {
  margin: 0;
  padding-left: 0;
}

.block-editor .wp-block-archives ul,
.block-editor .wp-block-categories ul,
.block-editor .wp-block-latest-posts ul {
  padding-left: 0;
}

.block-editor .wp-block-archives li,
.block-editor .wp-block-categories li,
.block-editor .wp-block-latest-posts li {
  margin-bottom: 6px;
  list-style-type: none;
}

.block-editor .wp-block-archives li a,
.block-editor .wp-block-categories li a,
.block-editor .wp-block-latest-posts li a {
  color: #212121;
  text-decoration: none;
}

.block-editor .wp-block-archives li a:hover,
.block-editor .wp-block-categories li a:hover,
.block-editor .wp-block-latest-posts li a:hover {
  color: #1a0af7;
}

.block-editor .wp-block-archives.aligncenter,
.block-editor .wp-block-categories.aligncenter,
.block-editor .wp-block-latest-posts.aligncenter {
  text-align: center;
}

.block-editor .wp-block-categories li ul {
  margin: 4px 0 0;
  padding: 0 0 0 10px;
  list-style-type: none;
}

.block-editor .wp-block-categories li ul li:last-child {
  padding: 4px 0 0;
}

.block-editor .wp-block-latest-posts.is-grid li {
  margin: 0 16px 16px 0;
}

.block-editor .wp-block-verse pre,
.block-editor pre.wp-block-verse {
  color: #828282;
  font-family: inherit;
  font-size: 22px;
  line-height: 1.8;
  padding: 15px;
  margin: 15px 0;
}

.block-editor .has-drop-cap:not(:focus):first-letter {
  font-family: inherit;
  font-size: 3.375em;
  line-height: 1;
  font-weight: 700;
  margin: 0 0.25em 0 0;
}

.block-editor .wp-block-pullquote {
  padding: 1rem;
  border: none;
}

.block-editor .wp-block-pullquote blockquote {
  position: relative;
  color: #212121;
  border: none;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.block-editor .wp-block-pullquote blockquote:before {
  content: '”';
  position: absolute;
  left: 0;
  top: 0;
  display: inline-block;
  margin-top: 2px;
  height: 21px;
  overflow: hidden;
  color: #1a0af7;
  font-family: Montserrat, sans-serif;
  font-size: 70px;
  font-weight: 400;
  line-height: 1;
}

.block-editor .wp-block-pullquote p {
  font-size: 1.6875em !important;
  font-style: italic;
  line-height: 1.3 !important;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

.block-editor .wp-block-pullquote p em {
  font-style: normal;
}

@media only screen and (min-width: 768px) {
  .block-editor .wp-block-pullquote p {
    font-size: 2.25em !important;
  }
}

.block-editor .wp-block-pullquote cite {
  display: inline-block;
  font-family: inherit;
  line-height: 1.6;
  text-transform: none;
  color: #767676;
  font-size: calc(1rem / (1.25 * 1.125));
}

.block-editor .wp-block-pullquote.alignleft, .block-editor .wp-block-pullquote.alignright {
  position: relative;
  width: 100%;
}

.block-editor .wp-block-pullquote.alignleft blockquote, .block-editor .wp-block-pullquote.alignright blockquote {
  margin-left: 0;
  padding-left: 45px;
  text-align: left;
  max-width: 100%;
}

.block-editor .wp-block-pullquote .wp-block-pullquote__citation {
  display: inline-block;
  text-transform: initial;
  font-size: 13px;
  margin-top: 1em;
  padding-left: calc(1em + 4px);
}

.block-editor .wp-block-quote {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 10px 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.688em;
  font-weight: 400;
  text-align: left;
  quotes: none;
  color: #212121;
  box-sizing: border-box;
}

.block-editor .wp-block-quote:not(.is-large), .block-editor .wp-block-quote:not(.is-style-large) {
  border-left: 4px solid #1a0af7 !important;
  padding-left: 0 !important;
  padding-top: 0;
  padding-bottom: 0;
}

.block-editor .wp-block-quote:not(.is-large):before, .block-editor .wp-block-quote:not(.is-style-large):before {
  display: none;
}

.block-editor .wp-block-quote:not(.is-large) p, .block-editor .wp-block-quote:not(.is-style-large) p {
  padding-left: 1em;
}

.block-editor .wp-block-quote p {
  font-size: 1em !important;
  font-style: normal;
  line-height: 1.8 !important;
}

.block-editor .wp-block-quote .wp-block-quote__citation,
.block-editor .wp-block-quote cite,
.block-editor .wp-block-quote footer {
  display: inline-block;
  font-size: 13px;
  margin-top: 1em;
  padding-left: calc(1em + 4px);
  color: inherit;
}

.block-editor .wp-block-quote.is-large, .block-editor .wp-block-quote.is-style-large {
  border-left: 4px solid #1a0af7;
  margin: 1rem 0;
  padding: 0;
  border-left: none !important;
}

.block-editor .wp-block-quote.is-large:before, .block-editor .wp-block-quote.is-style-large:before {
  content: '”';
  position: absolute;
  left: 0;
  top: 0;
  display: inline-block;
  margin-top: 2px;
  height: 21px;
  overflow: hidden;
  color: #1a0af7;
  font-family: Montserrat, sans-serif;
  font-size: 70px;
  font-weight: 400;
  line-height: 1;
}

.block-editor .wp-block-quote.is-large p, .block-editor .wp-block-quote.is-style-large p {
  font-size: 1.6875em !important;
  line-height: 1.4 !important;
  font-style: italic;
  padding-left: 45px;
}

.block-editor .wp-block-quote.is-large cite,
.block-editor .wp-block-quote.is-large footer, .block-editor .wp-block-quote.is-style-large cite,
.block-editor .wp-block-quote.is-style-large footer {
  font-size: 13px;
  margin-top: 1em;
}

.block-editor .wp-block-image .components-resizable-box__container {
  display: block;
}

.block-editor .wp-block-image img {
  display: block;
}

.block-editor .wp-block-image.alignleft, .block-editor .wp-block-image.alignright {
  max-width: 100%;
}

.block-editor .wp-block-image.alignfull img {
  width: 100vw;
}

.block-editor .wp-block-cover-image,
.block-editor .wp-block-cover {
  position: relative;
  min-height: 430px;
  padding: 1rem;
}

@media only screen and (min-width: 768px) {
  .block-editor .wp-block-cover-image,
  .block-editor .wp-block-cover {
    padding: 1rem 10%;
  }
}

.block-editor .wp-block-cover-image .wp-block-cover-image-text,
.block-editor .wp-block-cover-image .wp-block-cover-text,
.block-editor .wp-block-cover-image h2,
.block-editor .wp-block-cover .wp-block-cover-image-text,
.block-editor .wp-block-cover .wp-block-cover-text,
.block-editor .wp-block-cover h2 {
  font-size: 28px;
  line-height: 1.321em;
  font-size: 28px !important;
}

.block-editor .wp-block-cover-image.aligncenter h2,
.block-editor .wp-block-cover-image.aligncenter .wp-block-cover-image-text,
.block-editor .wp-block-cover-image.aligncenter .wp-block-cover-text,
.block-editor .wp-block-cover.aligncenter h2,
.block-editor .wp-block-cover.aligncenter .wp-block-cover-image-text,
.block-editor .wp-block-cover.aligncenter .wp-block-cover-text {
  width: 100%;
  z-index: 1;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
}

.block-editor .wp-block-cover-image.alignleft, .block-editor .wp-block-cover-image.alignright,
.block-editor .wp-block-cover.alignleft,
.block-editor .wp-block-cover.alignright {
  width: 100%;
}

.block-editor .wp-block-cover-image.alignfull .wp-block-cover-image-text,
.block-editor .wp-block-cover-image.alignfull .wp-block-cover-text,
.block-editor .wp-block-cover-image.alignfull h2,
.block-editor .wp-block-cover.alignfull .wp-block-cover-image-text,
.block-editor .wp-block-cover.alignfull .wp-block-cover-text,
.block-editor .wp-block-cover.alignfull h2 {
  max-width: calc(8 * (100vw / 12) - 28px);
}

.block-editor .wp-block-gallery {
  list-style-type: none;
  padding-left: 0;
}

.block-editor .wp-block-gallery .blocks-gallery-image:last-child,
.block-editor .wp-block-gallery .blocks-gallery-item:last-child {
  margin-bottom: 16px;
}

.block-editor .wp-block-audio figcaption,
.block-editor .wp-block-video figcaption,
.block-editor .wp-block-image figcaption,
.block-editor .wp-block-gallery .blocks-gallery-image figcaption,
.block-editor .wp-block-gallery .blocks-gallery-item figcaption {
  font-size: 0.71111em;
  font-family: inherit;
  line-height: 1.6;
  margin: 0;
  padding: 0.5rem;
  text-align: center;
}

.block-editor .wp-block-separator,
.block-editor hr {
  background-color: #767676;
  border: 0;
  height: 2px;
  margin-bottom: 2rem;
  margin-top: 2rem;
  max-width: 100px;
  text-align: left;
  /* Remove duplicate rule-line when a separator
     * is followed by an H1, or H2 */
}

.block-editor .wp-block-separator.is-style-wide,
.block-editor hr.is-style-wide {
  max-width: 100%;
}

.block-editor .wp-block-separator.is-style-dots,
.block-editor hr.is-style-dots {
  max-width: 100%;
  background-color: inherit;
  border: inherit;
  height: inherit;
  text-align: center;
}

.block-editor .wp-block-separator.is-style-dots:before,
.block-editor hr.is-style-dots:before {
  color: #767676;
  font-size: 1.6875em;
  letter-spacing: 0.88889em;
  padding-left: 0.88889em;
}

.block-editor .wp-block-separator + h1:before,
.block-editor .wp-block-separator + h2:before,
.block-editor hr + h1:before,
.block-editor hr + h2:before {
  display: none;
}

.block-editor .wp-block-embed-twitter {
  overflow: hidden;
}

.block-editor .wp-block-table th,
.block-editor .wp-block-table td {
  border-color: #e1e1e1;
  padding: 5px 10px;
  text-align: center;
}

.block-editor .wp-block-file {
  font-family: inherit;
}

.block-editor .wp-block-file .wp-block-file__button {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: auto;
  margin: 0;
  font-family: inherit;
  font-size: 15px;
  line-height: 1.5em;
  letter-spacing: 0;
  font-weight: 600;
  text-transform: lowercase;
  outline: none;
  box-sizing: border-box;
  -webkit-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  padding: 7px 26px;
  color: #fff;
  background-color: #1a0af7;
  border: 2px solid transparent;
  cursor: pointer;
}

.block-editor .wp-block-file .wp-block-file__button:hover {
  color: #fff;
  background-color: #1a0af7;
}

.block-editor .wp-block-code {
  border-radius: 0;
}

.block-editor .wp-block-code code {
  font-size: 1.125em;
  white-space: pre-wrap;
  word-break: break-word;
}

.block-editor .editor-rich-text__tinymce code {
  font-family: monospace;
  background: transparent;
  border-radius: 0;
  color: #828282;
  padding: 0;
  margin: 0;
}

@media only screen and (min-width: 768px) {
  .block-editor .wp-block-columns .wp-block-column > *:first-child {
    margin-top: 0;
  }
  .block-editor .wp-block-columns .wp-block-column > *:last-child {
    margin-bottom: 0;
  }
  .block-editor .wp-block-columns[class*='has-'] > * {
    margin-right: 1rem;
  }
  .block-editor .wp-block-columns[class*='has-'] > *:last-child {
    margin-right: 0;
  }
}

.block-editor .wp-block-latest-comments .wp-block-latest-comments__comment-meta {
  font-weight: 700;
}

.block-editor .wp-block-latest-comments .wp-block-latest-comments__comment-meta .wp-block-latest-comments__comment-date {
  font-weight: normal;
}

.block-editor .wp-block-latest-comments .wp-block-latest-comments__comment,
.block-editor .wp-block-latest-comments .wp-block-latest-comments__comment-date,
.block-editor .wp-block-latest-comments .wp-block-latest-comments__comment-excerpt p {
  font-size: inherit;
}

.block-editor .has-primary-background-color {
  background-color: #1a0af7;
}

.block-editor .has-primary-background-color p,
.block-editor .has-primary-background-color h1,
.block-editor .has-primary-background-color h2,
.block-editor .has-primary-background-color h3,
.block-editor .has-primary-background-color h4,
.block-editor .has-primary-background-color h5,
.block-editor .has-primary-background-color h6,
.block-editor .has-primary-background-color a {
  color: #fff;
}

/* ==========================================================================
   #Blocks styles - end
   ========================================================================== */
