/* ==========================================================================
   Search styles - begin
   ========================================================================== */
/* ==========================================================================
# Search opener - begin
========================================================================== */
.qodef-search-opener {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 15px;
  line-height: 1;
  margin: 0 10px;
}

.qodef-search-opener .qodef-search-opener-wrapper {
  display: block;
}

.qodef-search-opener .qodef-search-opener-wrapper > * {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  line-height: inherit;
}

.qodef-search-opener .qodef-search-opener-wrapper > *:before {
  display: block;
  line-height: inherit;
}

.qodef-search-opener.qodef-search-opener-svg-path .qodef-search-opener-wrapper > * {
  vertical-align: middle;
}

.qodef-search-opener.qodef-search-opener-svg-path .qodef-search-opener-wrapper > *,
.qodef-search-opener.qodef-search-opener-svg-path .qodef-search-opener-wrapper path {
  fill: currentColor;
  stroke: currentColor;
}

.qodef-light-header .qodef-page-header > div:not(.qodef-sticky-header):not(.fixed) .qodef-search-opener,
.qodef-light-header .qodef-top-bar .qodef-search-opener {
  color: #fff !important;
}

.qodef-light-header .qodef-page-header > div:not(.qodef-sticky-header):not(.fixed) .qodef-search-opener:hover,
.qodef-light-header .qodef-top-bar .qodef-search-opener:hover {
  color: #3fd0d4 !important;
}

.qodef-dark-header .qodef-page-header > div:not(.qodef-sticky-header):not(.fixed) .qodef-search-opener,
.qodef-dark-header .qodef-top-bar .qodef-search-opener {
  color: #212121 !important;
}

.qodef-dark-header .qodef-page-header > div:not(.qodef-sticky-header):not(.fixed) .qodef-search-opener:hover,
.qodef-dark-header .qodef-top-bar .qodef-search-opener:hover {
  color: #3fd0d4 !important;
}

/* ==========================================================================
# Search opener - end
========================================================================== */
/* ==========================================================================
# Search template style - begin
========================================================================== */
.qodef-search-page-holder {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 0 0 80px;
}

.qodef-search-page-holder .qodef-search-page-form {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 0 0 30px;
}

.qodef-search-page-holder .qodef-search-page-form .qodef-search-title {
  margin: 0 0 20px;
}

.qodef-search-page-holder .qodef-search-page-form .qodef-search-label {
  display: block;
  font-size: 13px;
}

.qodef-search-page-holder .qodef-search-page-form .qodef-form-holder {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 0 0 10px;
  clear: both;
  border-bottom: 1px solid #d4d3d3;
}

.qodef-search-page-holder .qodef-search-page-form .qodef-form-holder .qodef-column-left {
  display: table-cell;
  vertical-align: top;
}

.qodef-search-page-holder .qodef-search-page-form .qodef-form-holder .qodef-column-right {
  display: table-cell;
  width: 1%;
  text-align: left;
  vertical-align: top;
}

.qodef-search-page-holder .qodef-search-page-form .qodef-form-holder .qodef-search-field {
  position: relative;
  width: 100%;
  height: 40px;
  line-height: 40px;
  margin: 0;
  padding: 0 20px 0 3px;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
  border: none;
  outline: 0;
  vertical-align: middle;
  -webkit-appearance: none;
  box-sizing: border-box;
}

.qodef-search-page-holder .qodef-search-page-form .qodef-form-holder .qodef-search-field::-webkit-input-placeholder {
  color: inherit;
}

.qodef-search-page-holder .qodef-search-page-form .qodef-form-holder .qodef-search-field:-moz-placeholder {
  color: inherit;
  opacity: 1;
}

.qodef-search-page-holder .qodef-search-page-form .qodef-form-holder .qodef-search-field::-moz-placeholder {
  color: inherit;
  opacity: 1;
}

.qodef-search-page-holder .qodef-search-page-form .qodef-form-holder .qodef-search-field:-ms-input-placeholder {
  color: inherit;
}

.qodef-search-page-holder .qodef-search-page-form .qodef-form-holder .qodef-search-submit {
  position: relative;
  display: inline-block;
  width: auto;
  height: 40px;
  line-height: 40px;
  padding: 0;
  font-size: 18px;
  color: #505050;
  background-color: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
  vertical-align: middle;
  -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.qodef-search-page-holder .qodef-search-page-form .qodef-form-holder .qodef-search-submit:hover {
  color: #212121;
}

.qodef-search-page-holder article {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  padding: 30px 0;
  margin: 0;
  border-bottom: 1px solid #d4d3d3;
}

.qodef-search-page-holder article.sticky .qodef-post-title a {
  color: #3fd0d4;
}

.qodef-search-page-holder article.page .qodef-post-title-area .qodef-post-info > div.qodef-post-info-category {
  display: none;
}

.qodef-search-page-holder article .qodef-post-content {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

.qodef-search-page-holder article .qodef-post-image {
  display: block;
  float: left;
  width: 130px;
}

.qodef-search-page-holder article .qodef-post-image a, .qodef-search-page-holder article .qodef-post-image img {
  display: block;
}

.qodef-search-page-holder article .qodef-post-title-area {
  min-height: 130px;
  padding: 0 0 0 150px;
}

.qodef-search-page-holder article .qodef-post-title-area.qodef-no-thumbnail {
  padding: 0;
  min-height: inherit;
}

.qodef-search-page-holder article .qodef-post-title-area .qodef-post-title-area-inner {
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

.qodef-search-page-holder article .qodef-post-title-area .qodef-post-title-area-inner .qodef-post-title {
  margin: 0;
}

.qodef-search-page-holder article .qodef-post-title-area .qodef-post-title-area-inner .qodef-post-excerpt {
  margin: 7px 0 0;
}

.qodef-search-page-holder .qodef-blog-pagination {
  margin: 50px 0 0;
}

/* ==========================================================================
# Search template style - end
========================================================================== */
/* ==========================================================================
# Fullscreen search - start
========================================================================== */
/* Fullscreen search general style - start
========================================================================== */
.qodef-fullscreen-search-holder {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 105;
  opacity: 0;
}

.qodef-fullscreen-search-holder .qodef-fullscreen-search-table {
  display: table;
  width: 100%;
  height: 100%;
}

.qodef-fullscreen-search-holder .qodef-fullscreen-search-cell {
  position: relative;
  display: table-cell;
  height: 100%;
  width: 100%;
  vertical-align: middle;
  text-align: center;
}

.qodef-fullscreen-search-holder .qodef-form-holder-inner {
  position: relative;
  width: 100%;
  max-width: 930px;
  margin: 0 auto;
}

.qodef-fullscreen-search-holder .qodef-search-close {
  position: absolute;
  top: 21px;
  right: 20px;
  color: #212121;
  opacity: 0;
  visibility: hidden;
  z-index: 1;
}

.admin-bar .qodef-fullscreen-search-holder .qodef-search-close {
  top: 58px;
}

.qodef-fullscreen-search-holder .qodef-search-close.qodef-search-close-icon-pack {
  font-size: 40px;
  line-height: 1em;
}

.qodef-fullscreen-search-holder .qodef-search-close.qodef-search-close-icon-pack * {
  display: block;
  line-height: inherit;
}

.qodef-fullscreen-search-holder .qodef-search-close.qodef-search-close-icon-pack *:before {
  display: block;
  line-height: inherit;
}

.qodef-fullscreen-search-holder .qodef-search-close.qodef-search-close-svg-path line {
  stroke-width: 2;
}

.qodef-fullscreen-search-holder .qodef-search-close.qodef-search-close-svg-path > * {
  vertical-align: middle;
}

.qodef-fullscreen-search-holder .qodef-search-close.qodef-search-close-svg-path > *,
.qodef-fullscreen-search-holder .qodef-search-close.qodef-search-close-svg-path path {
  fill: currentColor;
}

.qodef-fullscreen-search-holder .qodef-field-holder {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.qodef-fullscreen-search-holder .qodef-search-field {
  height: 82px;
  padding: 0 35px;
  margin: 0;
  color: #848484;
  background-color: #fff;
}

.qodef-fullscreen-search-holder .qodef-search-field:focus {
  color: #848484;
}

.qodef-fullscreen-search-holder .qodef-search-field::-webkit-input-placeholder {
  color: inherit;
}

.qodef-fullscreen-search-holder .qodef-search-field:-moz-placeholder {
  color: inherit;
  opacity: 1;
}

.qodef-fullscreen-search-holder .qodef-search-field::-moz-placeholder {
  color: inherit;
  opacity: 1;
}

.qodef-fullscreen-search-holder .qodef-search-field:-ms-input-placeholder {
  color: inherit;
}

.qodef-fullscreen-search-holder .qodef-search-submit {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: auto;
  margin: 0;
  font-size: 13px;
  line-height: 1.692307692307692em;
  font-weight: 600;
  letter-spacing: .1em;
  text-transform: uppercase;
  outline: none;
  box-sizing: border-box;
  -webkit-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  color: #fff;
  background-color: #3fd0d4;
  border: 1px solid transparent;
  height: 82px;
  padding: 16px 72px 12px;
  font-family: "Poppins", sans-serif;
  white-space: nowrap;
  cursor: pointer;
}

.qodef-fullscreen-search-holder .qodef-search-submit:hover {
  color: #fff;
  background-color: #23a9af;
}

@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
  .qodef-fullscreen-search-holder .qodef-search-submit {
    min-width: 220px;
  }
}

.qodef-fullscreen-search-holder .qodef-flp-search-results ul {
  margin: 45px -15px 0;
  padding: 0;
  list-style-type: none;
}

.qodef-fullscreen-search-holder .qodef-flp-search-results ul li {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 33.33333333333333%;
  float: left;
  padding: 0 15px;
  color: #fff;
  box-sizing: border-box;
}

.qodef-fullscreen-search-holder .qodef-flp-search-results ul li .qodef-fslp-img {
  margin-right: 20px;
  width: 100px;
}

.qodef-fullscreen-search-holder .qodef-flp-search-results ul li .qodef-fslp-img a, .qodef-fullscreen-search-holder .qodef-flp-search-results ul li .qodef-fslp-img img {
  display: block;
}

.qodef-fullscreen-search-holder .qodef-flp-search-results ul li .qodef-fslp-title {
  position: relative;
  margin: 0;
  color: #fff;
}

.qodef-fullscreen-search-holder .qodef-flp-search-results ul li .qodef-fslp-title a {
  color: inherit;
}

.qodef-fullscreen-search-holder .qodef-flp-search-results ul li .qodef-fslp-title a:before {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 2px;
  background-color: #fff;
  bottom: 0;
  left: 0;
  -webkit-transition: width 0.3s ease-out;
  -moz-transition: width 0.3s ease-out;
  transition: width 0.3s ease-out;
}

.qodef-fullscreen-search-holder .qodef-flp-search-results ul li .qodef-fslp-title a:hover:before {
  width: 100%;
}

.qodef-fullscreen-search-holder .qodef-flp-search-results ul li .qodef-fslp-price {
  margin: 4px 0 0;
  color: #fff;
}

/* Fullscreen search general style - end
========================================================================== */
/* Fullscreen search fade style - start
========================================================================== */
.qodef-search-fade .qodef-fullscreen-search-holder {
  visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  opacity: 0;
  z-index: 112;
  box-sizing: border-box;
}

.qodef-search-fade .qodef-fullscreen-search-holder .qodef-fullscreen-search-table {
  background-color: rgba(63, 208, 212, 0.85);
}

.qodef-search-fade-out.qodef-search-fade .qodef-fullscreen-search-holder {
  -webkit-animation: search_fade_out 0.2s ease-out both;
  -moz-animation: search_fade_out 0.2s ease-out both;
  animation: search_fade_out 0.2s ease-out both;
}

.qodef-search-fade-in.qodef-search-fade .qodef-fullscreen-search-holder.qodef-animate {
  -webkit-animation: search_fade_in 0.3s ease both;
  -moz-animation: search_fade_in 0.3s ease both;
  animation: search_fade_in 0.3s ease both;
}

.qodef-search-fade .qodef-fullscreen-search-holder.qodef-animate .qodef-search-close {
  opacity: 1;
  visibility: visible;
}

@-webkit-keyframes search_fade_out {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes search_fade_out {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@-webkit-keyframes search_fade_in {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes search_fade_in {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

/* Fullscreen search fade style - end
========================================================================== */
/* ==========================================================================
# Fullscreen search - end
========================================================================== */
/* ==========================================================================
   Search styles - end
   ========================================================================== */

/*# sourceMappingURL=search-map.css.map */
